<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hax.sharingplace">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/map"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="4HW1PB12EGGZoEu9CMNusXtu8c9biCjz" />

        <activity
            android:name="com.hax.sharingplace.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name="com.hax.sharingplace.LoginActivity" />
        <activity android:name="com.hax.sharingplace.RegisterActivity" />
        <activity android:name="com.hax.sharingplace.UpdateActivity" />
        <activity android:name="com.hax.sharingplace.AddfrensActivity" />
        <activity android:name="com.hax.sharingplace.MyfrensActivity" />
        <activity android:name="com.hax.sharingplace.FrenadrActivity" />
        <activity android:name="com.hax.sharingplace.AboutActivity"></activity>
    </application>

</manifest>